{% extends 'base.html' %}


{% block content %}
<h2>Категория: {{ current_category.title }}</h2>


    <div>
        {% for good in goods %}
       <p>Наименование: {{ good.name }}</p>
       <p>Цена: {{ good.price }}</p>
       <p>Единица: {{ good.unit_of_price }}</p>
       <p>Поставщик: {{ good.provider }}</p>
       <p>Дата прибытия: {{ good.come_date }}</p>
       <p>Категория:
       {% for cat in good.category.all %}
           {{ cat.title }}
           {% endfor %}


       </p>
        <p>--------------------------------</p>
    {% endfor %}
    </div>

{% endblock %}